@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

blockquote[xml|lang]{
	font-style: italic;
}

[epub|type~="z3998:signature"]{
	font-style: italic;
	margin-top: 2em;
	text-align: right;
}

table{
	font-variant-numeric: tabular-nums;
	margin: 1em;
}

th{
	text-align: center;
}

thead tr:last-child th{
	font-weight: normal;
	text-align: initial;
}

table tbody td:first-child,
table tbody td:nth-child(4){
	text-align: right;
}

[epub|type~="z3998:poem"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

section > header{
	font-variant: small-caps;
	margin-bottom: 1em;
	margin-top: 3em;
}
