@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

.signature{
	font-style: italic;
	margin-top: 2em;
	text-align: right;
}

table thead td{
	text-align: center;
	font-weight: bold;
}

table tbody td:first-child,
table tbody td:nth-child(4){
	text-align: right;
}

[epub|type~="z3998:poem"] p,
[epub|type~="z3998:verse"] p{
	text-align: left;
	text-indent: 0;
}

[epub|type~="z3998:poem"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	text-indent: -1em;
	padding-left: 1em;
}

[epub|type~="z3998:poem"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:poem"] + p,
[epub|type~="z3998:verse"] + p{
	text-indent: 0;
}

abbr.name{
	white-space: nowrap;
}

header{
	font-variant: small-caps;
	margin: 3em;
	text-align: center;
}
